<!doctype html>
<html lang="en" ng-app="zdrojak">
<head>
  <meta charset="utf-8">
  <title>Administrace</title>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

  <div class="container">
     <div class="navbar">
      <div class="navbar-inner">
        <ul id="navigation" class="nav">
          <li><a ng-href="/admin/">Objednávky</a></li>
          <li><a>Produkty</a></li>
          <li><a>Kategorie</a></li>
          <li><a>Parametry</a></li>
          <li><a>Layouty</a></li>
          <li><a>Výrobci</a></li>
          <li><a>Záruční doby</a></li>
          <li><a>Správci</a></li>
        </ul>
      </div>
    </div>
      
      
    <div class="body">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <div ng-view id="content"></div>
            <p class="link-self"><i class="icon-shopping-cart"></i> <a target="_self" href="/">Uživatelská část</a></p>
          </div>
        </div>
      </div>
      <hr>       
      
    </div>
   </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular/i18n/angular-locale_cs-cz.js"></script>
  <script src="/lib/angular/angular-resource.js"></script>
  <script src="/lib/ui-bootstrap-custom-0.1.0.js"></script>
  
  <script src="/js/zdrojak.controller.js"></script>
  <script src="/js/zdrojak.service.js"></script>
  <script src="/js/zdrojak.filter.js"></script>
  <script src="/js/zdrojak.directive.js"></script>
  <script src="/js/zdrojak.js"></script>
  
  <script src="/js/Price.js"></script>
  <script src="/js/Transport.js"></script>
  <script src="/js/Status.js"></script>
  <script src="/js/UrlFilter.js"></script>
  <script src="/js/FormFilter.js"></script>
  
  <% if (env === 'development' || env === 'test') { %>
  
  <script src="/js/zdrojak.mock.js"></script>
  <script src="/lib/angular/angular-mocks.js"></script>
  <script src="/apiary.js"></script>
  
  <% } %>
  

</body>
</html>
