<!DOCTYPE html>
<html lang="en" ng-app="zdrojak">
<head>
  <meta charset="utf-8">
  <title>Zdrojak Eshop</title>
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
  <!-- endbuild -->
</head>
<body ng-controller="AppCtrl">

  <div class="container">
     <div class="navbar navbar-inverse">
      <div class="navbar-inner">
          
          <!-- logo -->
          <a class="brand" ng-href="/">
              Zdrojak e-shop
          </a>
          
          <!-- stranky (obchodni podminky, faq ap.) -->
          <div class="nav-collapse" ng-controller="MenuPagesCtrl">
            <ul id="navigation" class="nav">
              <li ng-repeat="page in pages"><a ng-href="/info/{{page.url}}" ng-bind="page.name"></a></li>
            </ul>
          </div>
          
          <!-- vyhledavani -->
          <form class="navbar-form pull-left" ng-submit="search()" ng-controller="MenuSearchCtrl">
            <input ng-model="query" type="search" class="span2">
            <button type="submit" class="btn">Hledat!</button>
          </form>
          
          <!-- stranky (obchodni podminky, faq ap.) -->
          <div class="nav-collapse">
            <ul id="navigation" class="nav">
              <li>
                <a ng-href="/kosik"><i class="icon-shopping-cart icon-white"></i> 
                <strong id="nav-basket-price" ng-bind="basket.priceProducts() | currency"></strong></a>
              </li>
            </ul>
          </div>
          
      </div>
    </div>
      
      
    <div class="body">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">

              
            <!-- menu s kategoriemi -->
            <div ng-controller="MenuCategoriesCtrl">  
              <script type="text/ng-template"  id="template-category">
                  <a ng-href="/mobily/{{data.url}}"><i class="icon-chevron-right"></i>{{data.name}}</a>
                <ul class="nav nav-list">
                  <li ng-repeat="data in data.children" ng-include="'template-category'"></li>
                </ul>
              </script>  
              <ul class="nav nav-list">
                <li class="nav-header">Mobily</li>
                <li ng-repeat="data in categories" ng-include="'template-category'"></li>
              </ul> 
            </div>
            
            
            
          </div>
          <!-- samotny obsah dane stranky -->  
          <div class="span9">
            <div ng-view id="content"></div>
            <p class="link-self"><i class="icon-wrench"></i> <a target="_self" href="/admin">Administrace</a></p>
          </div>
        </div>
      </div>
      <hr>       
      
    </div>
   </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-i18n/angular-locale_cs-cz.js"></script>
  <script src="/components/angular-resource/angular-resource.min.js"></script>
  <script src="/components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="/components/angular-ui-utils/modules/event/event.js"></script>
  
  <script src="/js/app.js"></script>

  <!-- controllers -->
  <script src="/js/controllers/App.js"></script>
  <script src="/js/controllers/Basket.js"></script>
  <script src="/js/controllers/Category.js"></script>
  <script src="/js/controllers/Customer.js"></script>
  <script src="/js/controllers/Index.js"></script>
  <script src="/js/controllers/Layouts.js"></script>
  <script src="/js/controllers/MenuAdmin.js"></script>
  <script src="/js/controllers/MenuCategories.js"></script>
  <script src="/js/controllers/MenuPages.js"></script>
  <script src="/js/controllers/MenuSearch.js"></script>
  <script src="/js/controllers/OrderAddProduct.js"></script>
  <script src="/js/controllers/OrderDetail.js"></script>
  <script src="/js/controllers/Orders.js"></script>
  <script src="/js/controllers/Page.js"></script>
  <script src="/js/controllers/Parameters.js"></script>
  <script src="/js/controllers/ParameterAdd.js"></script>
  <script src="/js/controllers/Product.js"></script>
  <script src="/js/controllers/ProductDetail.js"></script>
  <script src="/js/controllers/Products.js"></script>
  <script src="/js/controllers/Search.js"></script>
  <script src="/js/controllers/Summary.js"></script>
  <script src="/js/controllers/Users.js"></script>

  <!-- filters -->
  <script src="/js/filters/join.js"></script>

  <!-- directives -->
  <script src="/js/directives/inline.js"></script>
  <script src="/js/directives/paging.js"></script>
  <script src="/js/directives/range.js"></script>
  <script src="/js/directives/upload.js"></script>

  <!-- services -->
  <script src="/js/services/api.js"></script>
  <script src="/js/services/availability.js"></script>
  <script src="/js/services/basket.js"></script>
  <script src="/js/services/form-filter.js"></script>
  <script src="/js/services/price.js"></script>
  <script src="/js/services/status.js"></script>
  <script src="/js/services/transport.js"></script>
  <script src="/js/services/upload-file.js"></script>
  <script src="/js/services/url-filter.js"></script>
  <script src="/js/services/dialog.js"></script>

  <!-- libs -->
  <script src="/js/lib/Basket.js"></script>
  <script src="/js/lib/Price.js"></script>
  <script src="/js/lib/Transport.js"></script>
  <script src="/js/lib/UrlFilter.js"></script>
  <script src="/js/lib/Status.js"></script>
  <script src="/js/lib/Availability.js"></script>
  <script src="/js/lib/FormFilter.js"></script>
  <script src="/js/lib/UploadFile.js"></script>
  
  <% if (env === 'development' || env === 'test') { %>
  
  <script src="/js/mocks/mocks.js"></script>
  <script src="/components/angular-mocks/angular-mocks.js"></script>
  <script src="/apiary.js"></script>
  
  <% } %>


  <!-- endbuild -->

</body>
</html>
