<!doctype html>
<html lang="en" ng-app="zdrojak">
<head>
  <meta charset="utf-8">
  <title>Zdrojak Eshop</title>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
</head>
<body ng-controller="AppCtrl">

  <div class="container">
     <div class="navbar navbar-inverse">
      <div class="navbar-inner">
          
          <!-- logo -->
          <a class="brand" ng-href="/">
              Zdrojak e-shop
          </a>
          
          <!-- stranky (obchodni podminky, faq ap.) -->
          <div class="nav-collapse" ng-controller="MenuPagesCtrl">
            <ul id="navigation" class="nav" ng-cloak>
              <li ng-repeat="page in pages"><a ng-href="/info/{{page.url}}">{{page.name}}</a></li>
            </ul>
          </div>
          
          <!-- vyhledavani -->
          <form class="navbar-form pull-left" ng-submit="search()" ng-controller="MenuSearchCtrl">
            <input ng-model="query" type="search" class="span2">
            <button type="submit" class="btn">Hledat!</button>
          </form>
          
          <!-- stranky (obchodni podminky, faq ap.) -->
          <div class="nav-collapse" ng-controller="MenuBasketCtrl">
            <ul id="navigation" class="nav">
              <li>
                <a ng-href="/kosik"><i class="icon-shopping-cart icon-white"></i> 
                <strong id="nav-basket-price">{{price | currency}}</strong></a>
              </li>
            </ul>
          </div>
          
      </div>
    </div>
      
      
    <div class="body">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">

              
            <!-- menu s kategoriemi -->
            <div ng-controller="MenuCategoriesCtrl">            
              <ul class="nav nav-list" ng-cloak>
                <li class="nav-header">Mobily</li>
                <li ng-repeat="category in categories">
                  <a ng-href="/mobily/{{category.url}}"><i class="icon-chevron-right"></i>{{category.name}}</a>
                  <ul class="nav nav-list" ng-show="category.children">
                    <li ng-repeat="child in category.children">
                      <a ng-href="/mobily/{{child.url}}"><i class="icon-chevron-right"></i>{{child.name}}</a>      
                    </li>      
                  </ul>
                </li>   
              </ul>
            </div>
            
          </div>
            
          <!-- samotny obsah dane stranky -->  
          <div class="span9">
            <div ng-view></div>
          </div>
        </div>
      </div>
      <hr>       
      
    </div>
   </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular/i18n/angular-locale_cs-cz.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/directives.js"></script>
  <script src="/lib/angular/angular-resource.js"></script>
  
  <script src="/js/BasketStorage.js"></script>
  <script src="/js/Transport.js"></script>
  
  
  <% if (env === 'development' || env === 'test') { %>
  
  <script src="/lib/angular/angular-mocks.js"></script>
  <script src="/apiary.js"></script>
  
  <% } %>
  

</body>
</html>
