<!doctype html>
<html lang="en" ng-app="zdrojak">
<head>
  <meta charset="utf-8">
  <title>Zdrojak Eshop</title>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
</head>
<body ng-controller="AppCtrl">

  <div class="container">
     <div class="navbar navbar-inverse">
      <div class="navbar-inner">
          
          <!-- logo -->
          <a class="brand" ng-href="/">
              Zdrojak e-shop
          </a>
          
          <!-- stranky (obchodni podminky, faq ap.) -->
          <div class="nav-collapse" ng-controller="MenuPagesCtrl">
            <ul id="navigation" class="nav">
              <li ng-repeat="page in pages"><a ng-href="/info/{{page.url}}" ng-bind="page.name"></a></li>
            </ul>
          </div>
          
          <!-- vyhledavani -->
          <form class="navbar-form pull-left" ng-submit="search()" ng-controller="MenuSearchCtrl">
            <input ng-model="query" type="search" class="span2">
            <button type="submit" class="btn">Hledat!</button>
          </form>
          
          <!-- stranky (obchodni podminky, faq ap.) -->
          <div class="nav-collapse">
            <ul id="navigation" class="nav">
              <li>
                <a ng-href="/kosik"><i class="icon-shopping-cart icon-white"></i> 
                <strong id="nav-basket-price" ng-bind="basket.priceProducts() | currency"></strong></a>
              </li>
            </ul>
          </div>
          
      </div>
    </div>
      
      
    <div class="body">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">

              
            <!-- menu s kategoriemi -->
            <div ng-controller="MenuCategoriesCtrl">  
              <script type="text/ng-template"  id="template-category">
                  <a ng-href="/mobily/{{data.url}}"><i class="icon-chevron-right"></i>{{data.name}}</a>
                <ul class="nav nav-list">
                  <li ng-repeat="data in data.children" ng-include="'template-category'"></li>
                </ul>
              </script>  
              <ul class="nav nav-list">
                <li class="nav-header">Mobily</li>
                <li ng-repeat="data in categories" ng-include="'template-category'"></li>
              </ul> 
            </div>
            
            
            
          </div>
          <!-- samotny obsah dane stranky -->  
          <div class="span9">
            <div ng-view></div>
            <p class="link-self"><i class="icon-wrench"></i> <a target="_self" href="/admin">Administrace</a></p>
          </div>
        </div>
      </div>
      <hr>       
      
    </div>
   </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular/i18n/angular-locale_cs-cz.js"></script>
  <script src="/lib/angular/angular-resource.js"></script>
  
  <script src="/js/zdrojak.js"></script>
  <script src="/js/zdrojak.service.js"></script>
  <script src="/js/zdrojak.controller.js"></script>
  <script src="/js/zdrojak.filter.js"></script>
  <script src="/js/zdrojak.directive.js"></script>

  <script src="/js/Basket.js"></script>
  <script src="/js/Transport.js"></script>
  <script src="/js/ParametricSearch.js"></script>
  
  <% if (env === 'development' || env === 'test') { %>
  
  <script src="/js/zdrojak.mock.js"></script>
  <script src="/lib/angular/angular-mocks.js"></script>
  <script src="/apiary.js"></script>
  
  <% } %>
  

</body>
</html>
