.product-card-content { 
  margin: 0 0 20px 5px !important;
}

.product-parameters-th {
  width: 200px;    
}

#nav-basket-price {
  color: white;    
}

#category-controls {
  clear: left;
}

.link-self {
  text-align: center;    
}

.status-pending {
  background-color: rgb(239, 250, 255); 
}

.status-completed {
  background-color: rgb(240, 250, 236);  
}

.status-cancelled {
  background-color: rgb(250, 247, 233);  
}

.status-1 {
  background-color: rgb(240, 250, 236); 
}

.order-number {
  font-size: 130%;
}

#content {
  min-height: 600px;
}

.button-add-product {
  text-align: right;
}

#admin-products {
  margin: 0 0 20px 5px !important;
  margin-left: 10px;
}

.admin-h2 {
  font-size: 130%;
  padding-left: 10px;
}

.admin-photo {
  padding-left: 25px;
}

