<div modal="updatePasswordDialogIsOpen" close="close('updatePasswordDialog')">

  <div class="modal-header">
    <h4>Změna hesla</h4>
  </div>

  <form ng-submit="updatePassword()">
  <div class="modal-body">

      <div class="well">
        <fieldset>
          <label>Nové heslo <span>(povinné)</span></label>
          <input type="password" name="password" ng-model="user.password" required pattern=".{6,}" title="Heslo musí být minimálně 6 znaků dlouhé" class="input-xlarge">

          <label>Opakujte nové heslo <span>(povinné)</span></label>
          <input type="password" name="password" ng-model="user.retypePassword" required pattern=".{6,}" title="Heslo musí být minimálně 6 znaků dlouhé" class="input-xlarge">
        </fieldset>
      </div>
    
  </div>
  <div class="modal-footer">
    <p class="modal-submit-button"><input type="submit" value="Upravit heslo" class="btn btn-primary btn-block"></p>
  </div>
</form>

</div>