<h1>Kategorie</h1>

<a class="btn" ng-click="addCategory()"><i class="icon-plus-sign"></i> Vložit novou kategorii</a>

<hr>

<script type="text/ng-template"  id="template-category">
  <i class="icon-chevron-right"></i>
  <inline model='data.name' action='updateCategory'></inline>
  <ul class="nav nav-list">
    <li ng-repeat="data in data.children" 
        id="{{data.name}}"
        class="category-item"
        ng-include="'template-category'" 
        draggable="true" 
        drop="drop" 
        dragover="dragover"
        dragstart="dragstart">
    </li>
  </ul>
</script>  
  
<ul class="nav nav-list">
  <li ng-repeat="data in categories" 
      id="{{data.name}}"
      class="category-item"
      ng-include="'template-category'" 
      draggable="true" 
      dragstart="dragstart"
      drop="drop" 
      dragover="dragover">
  </li>
</ul> 

<p class="btn" ng-show="trashVisible" drop="removeCategory" dragover="dragover">Koš </p>