<h1>Layouty</h1>

<p class="button-add"><a ng-click="addLayout()" class="btn"><i class="icon-plus-sign"></i> Vložit nový layout</a></p> 

<hr>

<div class="row">
  <div ng-repeat="layout in layouts">
    <div class="span6">
      <h2 class="admin-h2"><a ng-href="/admin/layouts/{{layout.id}}">{{layout.name}}</a></h2>
       <table class="table">
        <tbody>
          <tr ng-repeat="param in layout.parameters">
            <th>{{param.name}}</th>
            <td>
              <span ng-show="param.values.length">{{param.values | join:' / '}}</span>
              <em ng-hide="param.values.length"> (číselná hodnota) </em>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<p class="alert" ng-hide="layouts.length">V databázi není žádný layout.</p>
