<h1>Objednávka číslo {{order.number}}</h1>
<p>{{order.date | date:'medium'}}</p>
<p>Stav objednávky: 
  <select ng-change="order.status.name = st.get(order.status.code).name;update()" ng-model="order.status.code" ng-options="s.code as s.name for s in st.all()"></select>
</p> 

<div class="row">
  <div class="span4">
  
  <address class="well">
    <strong>
      <inline model='order.customer.name' action='update'></inline> 
      <inline model='order.customer.surname' action='update'></inline>
    </strong>
    <br>
    <inline model='order.customer.email' action='update'></inline><br>
    <inline model='order.customer.street' action='update'></inline><br>
    <inline model='order.customer.town' action='update'></inline><br>
    <inline model='order.customer.zipcode' action='update'></inline>
  </address>
  
  </div>
  <div class="span8">
    
    <table class="table status-{{order.status.code}}">
      <thead>
        <tr>
          <th>Produkt (varianta)</th>
          <th>Množství</th>
          <th>Cena</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in order.products">
          <td>{{product.code}} {{product.name}} <br>{{product.variant.name}} </td>
          <td><inline model='product.quantity' action='update' type="number" min="1"></inline> ks</td>
          <td>{{product.price*product.quantity | currency}}</td>
          <td><a ng-click="remove($index)"><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>{{order.transport.name}}</td>
          <td></td>
          <td>{{order.transport.price | currency}}</td>
        </tr>
        <tr>
          <th>Celkem</th>
          <td></td>
          <th>{{order.price | currency}}</th>
        </tr>
      </tbody>
    </table>      
    <p><a class="btn" ng-click="openAddDialog()"><i class="icon-plus-sign"></i> Přidat produkt k objednávce</a></p>
</div>
  
  
  
<div modal="shouldBeOpen" close="closeAddDialog()" options="addDialogOpts">
  <div class="modal-header">
    <h4>Přidání produktu k objednávce</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" ng-submit="filterProducts()">
      <fieldset class="well">
        <input type="text" class="input-xlarge" placeholder="Fráze" ng-model="query">
        <input class="btn" type="submit" value="Hledat">
      </fieldset>     
    </form>
    <table class="table" ng-show="products.products">
      <thead>
        <tr>
          <th>Produkt / cena</th>
          <th>Varianty</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in products.products">
          <td ng-show="product.variants">
            {{product.code}} {{product.name}}<br>
            {{product.price | currency}}
           </td>
          <td ng-show="product.variants">
            <table class="well">
              <tbody>
                <tr ng-repeat="variant in product.variants">
                  <td>{{variant.code}}</td>
                  <td>{{variant.name}}</td>
                  <td><input class="btn" type="button" ng-click="add(product, variant)" value="Přidat"></td>
                </tr>
              </tbody>
            </table>        
          </td>
        </tr>
      </tbody>
    </table>          
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="closeAddDialog()">Zrušit</button>
  </div>
</div>