<h1>Objednávky</h1>

<messages></messages>

<form class="form-horizontal" ng-submit="filter()">
  <fieldset class="well">
    <input type="text" placeholder="Fráze" ng-model="query">
    <input type="date" class="input-small" placeholder="Datum" ng-model="date">
    <select ng-model="status" ng-options="s.code as s.name for s in st.all()">
       <option value="">-- stav objednávky --</option>
    </select>
    <input class="btn" type="submit" value="Filtrovat">
  </fieldset>     
</form>

<hr />


<div ng-repeat="order in results.orders">
  <div class="row">
    <div class="span4">
      <p><strong>Číslo objednávky: <a ng-href="/admin/orders/{{order.number}}" class="order-number">{{order.number}}</a></strong></p>
      <p>{{order.date | date:'medium'}}, 
        <select ng-change="order.status.name = st.get(order.status.code).name;updateStatus($index)" ng-model="order.status.code" ng-options="s.code as s.name for s in st.all()" class="input-medium"></select>
      </p>
      <address class="well">
        {{order.customer.name}} {{order.customer.surname}}<br>
        <span>
          {{order.customer.street}}<br>
          {{order.customer.town}}<br>
          {{order.customer.zipcode}}
        </span>
      </address>  
    </div>
    <div class="span8">  
      <table class="table status-{{order.status.code}}">
        <tbody>
          <tr ng-repeat="product in order.products">
            <td>{{product.code}} {{product.name}} <br>{{product.variant.name}} </td>
            <td>{{product.quantity}} ks</td>
            <td>{{product.price*product.quantity | currency}}</td>
          </tr>
          <tr>
            <td>{{order.transport.name}}</td>
            <td></td>
            <td>{{order.transport.price | currency}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Celkem</th>
            <td></td>
            <th>{{order.price | currency}}</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <hr />
</div>



<paging page="page" count="results.count" limit="limit" move="filter"></paging>