<h1>{{product.name}}</h1>

<messages></messages>  

<div class="row">
  <div class="span8">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Kód</th>
          <td><inline-temp model='product.code' action='update'></inline-temp></td>
        </tr>
        <tr>
          <th>Perex</th>
          <td><inline-temp model='product.perex' action='update'></inline-temp></td>
        </tr>
        <tr>
          <th>Text</th>
          <td><inline-wysiwyg model='product.text' action='update'></inline-wysiwyg>
          </td>
        </tr>
        <tr>
          <th>Cena</th>
          <td><inline model='product.price' action='update'></inline></td>
        </tr>
        <tr>
          <th>DPH</th>
          <td><inline model='product.dph' action='update'></inline>%</td>
        </tr>
      </tbody>
    </table>

    <hr>
    
    <table class="table table-striped">
      <tr ng-repeat="parameter in product.parameters">
        <th> {{parameter.name}} </th>
        <td> {{parameter.values | join: ' / '}} </td>
      </tr>
    </table>


  </div>
  <div class="span4 well">
    <h3>Obrázky</h3>
    <form ng-submit="upload()" enctype="multipart/form-data">
      <input id="file" type="file" ng-model="file" upload="upload" multiple accept="image/*"> 
    </form>
    <p ng-show="pbar"><progress value="{{progress}}" max="100"></progress> {{progress}}%</p>
    <div id="admin-products-imgs">
      <div ng-repeat="img in imgs">
        <p><img ng-src="{{img}}" width="100"></p>  
        <ul style="display:none">
          <li><label class="radio"><input type="radio" ng-model="main" value="">Hlavní</label></li>
          <li><a ng-click="removeImg(img)">Odstranit</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<p><a class="btn" ng-click="remove()">Smazat</a></p>