<h1>Produkty</h1>

<messages></messages>  

<form class="form-inline" ng-submit="filter()">
  <fieldset class="well">
    <input type="text" placeholder="Fráze" ng-model="query">
    <select ng-model="availability" ng-options="a.code as a.name for a in av.all()">
       <option value="">-- dostupnost --</option>
    </select>
    <select class="span2" ng-model="status">
       <option value="">-- stav --</option>
       <option value="1">Aktivní</option>
       <option value="0">Deaktivován</option>
    </select>
    <label class="checkbox">
      <input ng-true-value="1" ng-false-value="0" type="checkbox" ng-model="homepage"> Úvodní stránka
    </label>
    <input class="btn" type="submit" value="Filtrovat">
  </fieldset>     
</form>

<p class="button-add"><a class="btn" ng-href="/admin/add-product"><i class="icon-plus-sign"></i> Vložit nový produkt</a></p> 

<hr />

<div class="row product-card-content">
  <div ng-repeat="product in results.products">
    <div class="span6">
      <h2 class="admin-h2"><a ng-href="/admin/products/{{product.id}}">{{product.name}}</a> <small>(kód: {{product.code}})</small></h2>
      <div class="row">
        <div class="span4 admin-photo">
          <p><a ng-href="/admin/products/{{product.id}}"><img ng-src="{{product.photo.src}}" width="{{product.photo.width}}" height="{{product.photo.height}}"></a></p>
        </div>
        <div class="span8">
          <table class="table status-{{product.status}}">
            <tbody>
              <tr>
                <th>Cena:</th>
                <td>{{product.price | currency}}</td>
              </tr>
              <tr>
                <th>Dostupnost:</th>
                <td>{{product.availability}}</td>
              </tr>
              <tr>
                <th>Stav:</th>
                <td ng-show="product.status">Aktivní</td>
                <td ng-hide="product.status">Deaktivován</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<paging page="page" count="results.count" limit="limit" move="filter"></paging>