<div class="page-header" ng-switch on="step">
  <h1 ng-switch-when="basket">
    1. Košík 
    <small ng-hide="storage.hasProducts()">2. Zákaznické údaje</small> 
    <small ng-show="storage.hasProducts()"><a ng-href="/zakaznicke-udaje">2. Zákaznické údaje</a></small> 
    <small ng-hide="storage.hasCustomer()">3. Přehled</small> 
    <small ng-show="storage.hasCustomer()"><a ng-href="/potvrzeni">3. Přehled</a></small>
  </h1>
  <h1 ng-switch-when="customer">
    <small><a ng-href="/kosik">1. Košík</a></small> 
    2. Zákaznické údaje 
    <small ng-hide="storage.hasCustomer()">3. Přehled</small> 
    <small ng-show="storage.hasCustomer()"><a ng-href="/potvrzeni">3. Přehled</a></small>
  </h1>
  <h1 ng-switch-when="summary">
    <small><a ng-href="/kosik">1. Košík</a> <a ng-href="/zakaznicke-udaje">2. Zákaznické údaje</a></small> 3. Přehled
  </h1>
</div>