<div ng-include src="'/partials/_basket-header.html'"></div>

<p ng-hide="basketNotEmpty" class="alert alert-info">
  V košíku není žádné zboží.
</p>

<form ng-show="basketNotEmpty">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Název</th>
        <th>Cena s DPH</th>
        <th>Počet ks</th>
        <th></th>
      </tr> 
    </thead>  
    <tbody>
      <tr ng-repeat="product in products">
        <td>
          <a ng-href="/mobil/{{product.url}}">{{product.name}}</a><br>
          {{product.variant}}
        </td>
        <td>{{product.price | currency}}</td>
        <td><input min="1" type="number" ng-change="updateQuantity(product.quantity, product.id, product.variant)" ng-model="product.quantity" class="span1"></td>
        <td><button ng-click="remove(product.id, product.variant)" class="btn" type="button"><i class="icon-remove"></i> Odstranit</button></td>
      </tr>
      <tr>
        <th>Celkem</th>    
        <td></td>
        <td></td>
        <th>{{price | currency}}</th>
      </tr>
    </tbody>
  </table>
    
   
  <p><button ng-click="next()" class="btn btn-large btn-block btn-primary" type="button"><i class="icon-arrow-right icon-white"> </i> Pokračovat v objednávce</button></p>
</form>




