<div class="page-header">
   <h1>1. Košík <small>2. Zákaznické údaje 3. Přehled</small></h1>
  </ul>
</div>


<form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Název</th>
        <th>Cena s DPH</th>
        <th>Počet ks</th>
        <th></th>
      </tr> 
    </thead>  
    <tbody>
      <tr ng-repeat="product in products">
        <td>
          <a href="/mobil/{{product.url}}">{{product.name}}</a><br>
          {{product.variant}}
        </td>
        <td>{{product.price | currency}}</td>
        <td><input type="number" ng-model="product.count" class="span1"></td>
        <td><button ng-click="addToBasket()" class="btn" type="button"><i class="icon-remove"> </i> Odstranit</button></td>
      </tr>
    </tbody>
  </table>
    
    <p><button ng-click="next()" class="btn btn-large btn-block btn-primary" type="button"><i class="icon-arrow-right icon-white"> </i> Pokračovat v objednávce</button></p>
    
</form>




