<div class="page-header">
  <h1>{{category.name}}</h1>
</div>
<!-- Filtrovani kategorii -->
<form class="form-horizontal">
    
  <fieldset class="well">
  <label>Maximální cena:   
    <range class="span8" change="filter" min="{{category.minPrice}}" max="{{category.maxPrice}}" step="500" model="price"></range> {{price}} Kč
  </label>
  </fieldset>   
  
  <div class="well">
    <fieldset ng-repeat="param in category.params" class="span3">
      <label>{{param.name}}</label>
      <ul class="unstyled">
        <li ng-repeat="value in param.values">
          <label class="checkbox">
            <input ng-model="value.checked" ng-change="filter()" type="checkbox">{{value.value}}
          </label>
        </li>  
      </ul>
    </fieldset> 
    <div id="category-controls">
        <span ng-show="sort=='price'">
          <input ng-click="sort='price';filter()" type="button" class="btn btn-primary" value="Od nejlevnějšího">
          <input ng-click="sort='-price';filter()" type="button" class="btn" value="Od nejdražšího"> 
        </span>  
        <span ng-hide="sort=='price'">
          <input ng-click="sort='price';filter()" type="button" class="btn" value="Od nejlevnějšího">
          <input ng-click="sort='-price';filter()" type="button" class="btn btn-primary" value="Od nejdražšího"> 
        </span>  
    </div>
  </div>  
      
    
</form>

<div ng-include src="'/partials/_pagination.html'"></div>

<div ng-repeat="product in results.products">
  <div ng-include src="'/partials/_product.html'"></div>
</div>

<div ng-include src="'/partials/_pagination.html'"></div>
