<div ng-include src="'/partials/_basket-header.html'"></div>

<messages></messages>  

<form ng-submit="next()">
  <div class="well">   
  <fieldset>
    <legend>Doprava a platba</legend>
    
    <label class="radio" ng-repeat="method in transportMethods">
      <input type="radio" ng-model="transport.code" name="transport" value="{{method.code}}" required>
        {{method.name}}
    </label>

  </fieldset>    
  </div>    

  <div class="well">   
  <fieldset>
    <legend>Zákaznické údaje</legend>
    
    <label>E-mail</label>
    <input type="email" name="email" ng-model="customer.email" required>
    
    <label>Jméno</label>
    <input type="text" name="name" ng-model="customer.name" required>
    
    <label>Příjmení</label>
    <input type="text" name="surname" ng-model="customer.surname" required>
    
    <label>Ulice a číslo</label>
    <input type="text" name="street" ng-model="customer.street" required>
    
    <label>PSČ</label>
    <input type="text" name="zipcode" ng-model="customer.zipcode" pattern="\d{5}" required>
    
    <label>Město</label>
    <input type="text" name="town" ng-model="customer.town" required>
    
  </fieldset>
  </div>
    
  <p>
    <button type="submit" class="btn btn-large btn-block btn-primary" type="submit">
    <i class="icon-arrow-right icon-white"> </i> Pokračovat k přehledu objednávky</button>
  </p>
</form>




