<div class="page-header">
<h1>{{product.name}} <small>{{product.code}}</small></h1>
</div>

<messages></messages>  

<p class="lead">{{product.perex}}</p>



<div class="container">
  <div ng-repeat="photo in product.photos">
    <div class="span5"> 
      <p><img width="{{photo.width}}" height="{{photo.height}}" ng-src="{{photo.src}}"></p>
    </div>
  </div>
</div>


<h2>Varianty</h2>
<table class="table table-striped">
  <tbody>
    <tr ng-repeat="variant in product.variants">
        <td>{{variant.name}}</td>
        <td><span class="label label-success">{{product.availability}}</span></td>
        <td><strong>Cena s DPH: {{product.price | currency}}</strong></td>
        <td><button ng-click="addToBasket(variant)" class="btn btn-primary" type="button"><i class="icon-shopping-cart icon-white"></i>Vložit do košíku</button></td>
    </tr>
  </tbody>
</table>



<h2>Popis</h2>
<div ng-bind-html-unsafe="product.text"></div>


<h2>Parametry</h2>
<table class="table table-striped">
  <tbody>
    <tr ng-repeat="parameter in product.parameters">
        <th class="product-parameters-th">{{parameter.name}}:</th>
        <td>{{parameter.values | join:' / '}}</td>
    </tr>
  </tbody>
</table>
