<p ng-show="number" class="alert alert-success">
  Objednávka byla vložena do databáze pod číslem <strong>{{number}}</strong>.  
</p>   

<div ng-hide="number">
  <div ng-include src="'/partials/_basket-header.html'"></div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Název</th>
        <th>Počet ks</th>
        <th>Jednotková cena</th>
        <th>Celková cena</th>
        <th></th>
      </tr> 
    </thead>  
    <tbody>
      <tr ng-repeat="product in products">
        <td>
          <a ng-href="/mobil/{{product.url}}">{{product.name}}</a><br>
          {{product.variant}}
        </td>
        <td>{{product.quantity}} ks</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.price * product.quantity | currency}}</td>
      </tr>
      <tr>
        <td>{{transport.name}}
        <td></td>
        <td></td>
        <td>{{transport.price |currency}}</td>
      </tr>      
      <tr>
        <th>Celkem</th>    
        <td></td>
        <td></td>
        <th>{{price | currency}}</th>
      </tr>
    </tbody>
  </table>

<div class="page-header">
  <h2>Doprava a platba</h2>  
  <p>{{transport.name}}</p>
</div>

<div class="page-header">
  <h2>Zákaznické údaje</h2> 
</div>    
    
<address>
  <strong>{{customer.name}} {{customer.surname}}</strong><br>
  {{customer.street}}<br>
  {{customer.town}} {{customer.zipcode}}<br>
  {{customer.email}}
</address>
  
  <p><button ng-click="next()" class="btn btn-large btn-block btn-primary" type="button"><i class="icon-arrow-right icon-white"> </i> Odeslat objednávku</button></p>
</div>




